---
import modulesData from '../../data/content/content.modules.json';
import ModuleCard from '../ui/molecules/ModuleCard.astro';

const { section } = modulesData;
---

<section class="w-full bg-white" id={section.id}>
  <div class="mx-auto flex w-full max-w-[1920px] flex-col items-center justify-between">
    <div class="flex w-full flex-1 flex-col items-center justify-center rounded-bl-[300px] rounded-tl-[300px] bg-[var(--color-black)] px-[80px] py-[80px]">
      <div class="flex flex-col items-stretch gap-[24px] px-5 lg:flex-row lg:px-0">
        {section.cards.map((card) => (
          <ModuleCard card={card} />
        ))}
      </div>
    </div>

    <div class="flex w-full flex-col items-end px-[60px] py-[40px]">
      <div class="flex w-full flex-col items-center justify-between gap-8 md:w-[603px] md:flex-row md:gap-0">
        {section.features.map((feature) => (
          <div class={`flex flex-col items-start border-l-4 p-[10px] ${feature.id === 'dss' ? 'border-[var(--color-azulhorizonte)]' : 'border-[var(--color-verdevitalidad)]'}`}>
            <div class="h-[60px] w-[60px] overflow-hidden">
              <img src={feature.icon} alt={feature.title} class="h-full w-full" />
            </div>
            <div class="flex flex-col items-start gap-[10px]">
              <p class="font-montserrat text-[36px] font-bold leading-[36px] text-[var(--color-black)]">
                {feature.title}
              </p>
              <p class="font-montserrat text-[20px] font-normal leading-[16px] text-[var(--color-black)]">
                {feature.subtitle}
              </p>
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>
</section>