---
import promoData from "../../data/content.promo.json";
import PromoDesktopContainer from "../ui/organisms/PromoDesktopContainer.astro";
import PromoTabletContainer from "../ui/organisms/PromoTabletContainer.astro";
import PromoMobileContainer from "../ui/organisms/PromoMobileContainer.astro";

const { title, subtitle, description, cards, config } = promoData;
---

<section class="relative mx-auto w-full overflow-hidden py-10" id="promo">
  <!-- Gradientes laterales -->
  <div
    class="pointer-events-none absolute left-0 top-0 z-40 h-full {config.layout.gradientWidth}"
    style="background: linear-gradient(90deg, white 37%, rgba(255, 255, 255, 0) 94%);"
  >
  </div>
  <div
    class="pointer-events-none absolute right-0 top-0 z-40 h-full {config.layout.gradientWidth}"
    style="background: linear-gradient(270deg, white 37%, rgba(255, 255, 255, 0) 94%);"
  >
  </div>

  <!-- Container Desktop centrado -->
  <PromoDesktopContainer
    title={title}
    subtitle={subtitle}
    description={description}
    cards={cards}
  />
  
  <!-- Container Tablet centrado -->
  <PromoTabletContainer
    title={title}
    subtitle={subtitle}
    description={description}
    cards={cards}

  />
  <!-- Container Mobile centrado -->
  <PromoMobileContainer
    title={title}
    subtitle={subtitle}
    description={description}
    cards={cards}
  />
</section>

<style>
  .promo-card {
    transform-origin: center center;
  }
</style>
